<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Usuários</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Pesquisa</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <form>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Nome</label>
                  <input type="text" class="form-control" id="filtro.Nome" name="filtro.Nome" placeholder="Nome"  [(ngModel)]="filtro.Nome">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <button type="button" (click)="listar()" class="btn btn-success pull-left">Pesquisar</button>
              </div>
              <div class="col-lg-6">
                <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModalLong">Novo</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Listagem de usuários</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <table class="table table-hover margin bottom">
            <thead>
              <tr>
                <th style="width: 1%" class="text-center">No.</th>
                <th>Nome</th>
                <th class="text-center">Data</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let a of usuarios; trackBy: index;'>
                <td class="text-center">{{a.UsuarioID}}</td>
                <td> {{a.Nome}}
                </td>
                <td class="text-center small">{{a.DataCriacao | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
