<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px"
                             src="https://www.tm-town.com/assets/default_male300x300-aae6ae0235b6cd78cee8df7ae19f6085.png" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.Nome}}</strong>
                      </span>
       
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                    SWWCC
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['./home']"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboards</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('others')}">
                <a [routerLink]="['./others']"><i class="fa fa-desktop"></i> <span class="nav-label">Others</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('categoria')}">
              <a [routerLink]="['./categoria']"><i class="fa fa-desktop"></i> <span class="nav-label">Autor</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('autor')}">
                <a [routerLink]="['./autor']"><i class="fa fa-desktop"></i> <span class="nav-label">Autor</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('usuario')}">
                <a [routerLink]="['./usuario']"><i class="fa fa-desktop"></i> <span class="nav-label">Usuário</span></a>
            </li>
        </ul>

    </div>
</nav>
